/* 
    Document   : menu
    Created on : Apr 9, 2013, 11:01:02 PM
    Author     : Verica
    Description:
        Purpose of the stylesheet follows.
*/
html, body {
    height: 100%;
}
body {
    background-color: #F0E9E3;

}
.deconnectbutton {
  font-family: arial;
  color: #FFFFFF !important;
  font-size: 15px;
  text-shadow: 1px 1px 0px #000000;
  box-shadow: 1px 1px 1px #4972D1;
  padding: 8px 23px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #EEAA45;
  margin-left: 37px;
  display: block;
  cursor: pointer;
}

.deconnectbutton:hover {
  color: #000000;
  background: #3D84D4;
}


#menu5 {
	width: 200px;
	margin: 11px;
}
	
#menu5 li a {
	height: 32px;
  	voice-family: "\"}\""; 
  	voice-family: inherit;  	
  	height: 24px;
	text-decoration: none;
}	
	
#menu5 li a:link, #menu5 li a:visited {
	color: #FFF;
	display: block;
	background:  url('../img/menu5.gif');
	padding: 8px 0 0 10px;
}
	
#menu5 li a:hover {
	color: #FFF;
	background:  url('../img/menu5.gif') 0 -32px;
	padding: 8px 0 0 10px;
}
#menu5 ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

#partiegauche          /*partie gauche de la page*/
{
margin-top:4%;
float:left;        /*positionne la partie à gauche*/
width:10%;
}

#partiecentre             /*partie centrale de la page*/
{
float:left;                             /*aligne le texte à gauche*/
margin-left:13%;            /*laisse 15.2% de marge/espace a gauche*/
margin-right:10%;            /*laisse 15.2% de marge/espace a droite*/
margin-top:7%;                          /*laisse 5% de marge/espace au niveau de la partie supérieur */
min-width: 40%;
}

#partiedroite            /*partie droite de la page*/
{
margin-top: 3%;
float: right;                /*positionne la partie à droite*/
width:15%;
}

#partiehaut
{
text-align:center;
}


